body{
	background-color:black;
}

h1{
	text-align: center;
	color:red;
	font-size: 40px;
}
p{
	color: blue;
	font-size: 30px;
}
.image2{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
a{
	color: red;
	text-decoration: none;
	font-size: 30px;
}
a:hover{
	color: yellow;
}